<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>65627919159-1nocq1sbca0qjdb5rvqjb0jhq84lt9oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65627919159-1nocq1sbca0qjdb5rvqjb0jhq84lt9oh</string>
	<key>API_KEY</key>
	<string>AIzaSyBeu4C9y5TjPqMsnrkL6bNYXfDSLwDv_TM</string>
	<key>GCM_SENDER_ID</key>
	<string>65627919159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Proximity.Proximity</string>
	<key>PROJECT_ID</key>
	<string>proximity-94672</string>
	<key>STORAGE_BUCKET</key>
	<string>proximity-94672.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65627919159:ios:72045d40ac00ce79</string>
	<key>DATABASE_URL</key>
	<string>https://proximity-94672.firebaseio.com</string>
</dict>
</plist>